@{
    ViewData["Title"] = "Thanks!";
} <div class="container" text-align: center;>
    <h1>Thanks for the Message!</h1>
</div>
<form asp-controller="Home" asp-action="Index">
    <button type="submit" class="btn btn-primary">Back to Home page</button>
</form>
