@{
    ViewData["Title"] = "Home Page";
} 
<h1 style="text-align: center">Welcome to Tennis Planet</h1>
<a href="https://localhost:7006/Product?searchStringCategoryName=Tennis%20racket" />
<img src="~/images/133f52a28d1705ee05e3886603bc02c1.jpg" height="100%" width="33%" title="Tennis rackets"></a>
<a href="https://localhost:7006/Product?searchStringCategoryName=T-shirt" />
<img src="~/images/7d2c1a99bc75fdd922215420e7cfda8a.jpg" height="100%" width="33%" style="max-height:534px" title="Tennis Tshirts"></a>
<a href="https://localhost:7006/Product?SearchStringCategoryName=Shoe" />
<img src="~/images/3c0fe28b4579d8e75148140ad5ef1d26.jpg" width="33%" title="Tennis shoes" style="max-height:534px"></a>
