@model TennisPlanet.Models.Product.ProductCreateVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Create product items</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProductItemId" class="control-label"></label>
                @*<input asp-for="BrandId" class="form-control" />*@
                <select asp-for="ProductItemId" class="form-control text-center">
                    @foreach (var productItem in Model.ProductItems)
                    {
                        <option value=" @productItem.Id">@productItem.ProductItemName</option>
                    }
                </select>
                <span asp-validation-for="ProductItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DimensionId" class="control-label"></label>
                @*<input asp-for="CategoryId" class="form-control" />*@
                <select asp-for="DimensionId" class="form-control text-center">
                    @foreach (var dimension in Model.Dimensions)
                    {
                        <option value="@dimension.Id">@dimension.Size</option>
                    }
                </select>
                <span asp-validation-for="DimensionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
